<span>MatchDay {{before_matchday}}</span>
<ul>
{{#each before_fixtures}}
<li>{{homeTeamName}} {{awayTeamName}}</li>
{{/each}}
</ul>

<span>MatchDay {{after_matchday}}</span>
<ul>
{{#each after_fixtures}}
<li>{{homeTeamName}} vs {{awayTeamName}}</li>
{{/each}}
</ul>